ALTER TABLE public.profiles ADD COLUMN IF NOT EXISTS address text; ALTER TABLE public.profiles ADD COLUMN IF NOT EXISTS date_of_birth date; ALTER TABLE public.cars ADD COLUMN IF NOT EXISTS currency text DEFAULT 'IQD';
